[Unit]
Description=Clowder Office Previewer
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=60
RestartSec=60
Restart=always
ExecStartPre=-/usr/bin/docker kill clowder-office-preview
ExecStartPre=-/usr/bin/docker rm clowder-office-preview
ExecStartPre=/usr/bin/docker pull clowder/extractors-office-preview:latest
ExecStart=/usr/bin/docker run --name clowder-office-preview -e "RABBITMQ_QUEUE=ncsa.office.preview" -e "RABBITMQ_URI=amqp://guest:guest@rabbitmq/clowder-dev" -e "RABBITMQ_EXCHANGE=clowder" clowder/extractors-office-preview

[Install]
WantedBy=multi-user.target
