[Unit]
Description=Clowder Image MetaData
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=60
RestartSec=60
Restart=always
ExecStartPre=-/usr/bin/docker kill clowder-image-metadata
ExecStartPre=-/usr/bin/docker rm clowder-image-metadata
ExecStartPre=/usr/bin/docker pull ncsa/clowder-extractors-image-metadata:latest
ExecStart=/usr/bin/docker run --name clowder-image-metadata -e "RABBITMQ_QUEUE=ncsa.image.metadata" -e "RABBITMQ_URI=amqp://guest:guest@rabbitmq/clowder-dev" -e "RABBITMQ_EXCHANGE=clowder" ncsa/clowder-extractors-image-metadata

[Install]
WantedBy=multi-user.target
