[Unit]
Description=Clowder Video Previewer
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=60
RestartSec=60
Restart=always
ExecStartPre=-/usr/bin/docker kill clowder-video-preview
ExecStartPre=-/usr/bin/docker rm clowder-video-preview
ExecStartPre=/usr/bin/docker pull clowder/extractors-video-preview:latest
ExecStart=/usr/bin/docker run --name clowder-video-preview -e "RABBITMQ_QUEUE=ncsa.video.preview" -e "RABBITMQ_URI=amqp://guest:guest@rabbitmq/clowder-dev" -e "RABBITMQ_EXCHANGE=clowder" clowder/extractors-video-preview

[Install]
WantedBy=multi-user.target
