[Unit]
Description=Clowder PDF Previewer
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=60
RestartSec=60
Restart=always
ExecStartPre=-/usr/bin/docker kill clowder-pdf-preview
ExecStartPre=-/usr/bin/docker rm clowder-pdf-preview
ExecStartPre=/usr/bin/docker pull clowder/extractors-pdf-preview:latest
ExecStart=/usr/bin/docker run --name clowder-pdf-preview -e "RABBITMQ_QUEUE=ncsa.pdf.preview" -e "RABBITMQ_URI=amqp://guest:guest@rabbitmq/clowder-dev" -e "RABBITMQ_EXCHANGE=clowder" clowder/extractors-pdf-preview

[Install]
WantedBy=multi-user.target
